.page-cover{
    background: url(../img/rana-sawalha-364253-unsplash@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, sans-serif;
}

.container{
    margin: 0 90px;
}

.sign-form-align{
    display: flex;
    align-items: center;
    justify-content: center;
    height:calc(100vh - 60px);
}

.header-block{
    height: 60px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.header-logo-block{
    width: 110px;
    height: inherit;
    padding-top: 20px;
    float: left;
}

.logo-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.logo-link:hover{
    color: #3cb878;
}

.navigation-sign-in-block{
    width: 400px;
    padding-top: 20px;
    float: right;
}

.navigation-block{
    width: 50%;
    float: left;
}

.navigation-item{
    display: inline-block;
    margin-right: 28px;
}

.navigation-item-link{
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url("../img/css_sprites.png") no-repeat;
}

.bg-calendar{
    background-position: -10px -46px;
    position: relative;
}

.bg-calendar:after{
    content: '';
    background: url("../img/css_sprites.png") no-repeat -10px -85px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-calendar:hover:after{
    opacity: 1;
    transition: opacity 0.5s;
    transform: scale(1.3);
}

.bg-forum{
    background-position: -10px -164px;
    position: relative;
}

.bg-forum:after{
    content: '';
    background: url("../img/css_sprites.png") no-repeat -10px -204px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-forum:hover:after {
    opacity: 1;
    transition: opacity 0.5s;
    transform: scale(1.3);
}

.bg-journey{
    background-position: -10px -284px;
    position: relative;
}

.bg-journey:after{
    content: '';
    background: url("../img/css_sprites.png") no-repeat -10px -244px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-journey:hover:after {
    opacity: 1;
    transition: opacity 0.5s;
    transform: scale(1.3);
}

.log-in-block{
    width: 50%;
    float: right;
}

.log-in-text{
    font-size: 14px;
    color: #ffffff;
    padding-top: 5px;
}

.log-in-link{
    font-size: 14px;
    color: #336b4c;
    text-decoration: none;
}

.sign-up-link{
    font-size: 14px;
    color: #336b4c;
    text-decoration: none;
}

.log-in-link:hover{
    text-decoration: underline;
}

.sign-up-link:hover{
    text-decoration: underline;
}

.sign-up-form{
    position: relative;
    width: 445px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #ffffff;
}

.green-square{
    position: absolute;
    top: 31px;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.sign-up-form-container{
    margin: 0 60px;
}

.sign-up-form-header{
    padding-top: 30px;
    height: 20px;
}

.sign-up-title{
    width: 80px;
    float: left;
    font-size: 20px;
}

.log-in{
    width: 45px;
    margin-top: 4px;
    float: right;
}

.social-media-buttons{
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.fb-button{
    position: relative;
    width: 160px;
    height: 50px;
    background-color: #305db8;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    float: left;
}

.fb-img{
    font-size: 22px;
    margin: 13px 30px 15px 20px;
}

.fb-text{
    display: inline-block;
    font-size: 16px;
}

.google-button{
    position: relative;
    width: 160px;
    height: 50px;
    background-color: #df4a32;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    float: right;
}

.google-img{
    font-size: 22px;
    margin: 13px 21px 15px 13px;
}

.google-text{
    display:inline-block;
    font-size: 16px;
}

.vertical-line{
    position: absolute;
    top: 10px;
    left: 48px;
    display: block;
    height: 28px;
    border: 1px solid rgba(0,0,0,0.1);
}

.division-item{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

.division-text{
    display: inline-block;
    font-size: 14px;
    color: #c7c7c7;
}

.division-item:before,
.division-item:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 135px;
    height: 1px;
    background-color: #c7c7c7;
    position: relative;
}

.division-item:before{
    margin-left: -100%;
    left: -14px;
}

.division-item:after{
    margin-right: -100%;
    right: -14px;
}

.sign-up-details{

}

.sign-up-details-item{
    display: inline-block;
    width: 100%;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sign-up-details-item::placeholder{
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #c7c7c7;
}

.sign-up-details-item:focus{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.checkbox-container{
    display: block;
    padding: 10px 0 30px 30px;
    position: relative;
    font-size: 14px;
}

.terms-agree-checkbox{
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
}

.checkmark:after{
    content: '';
    position: absolute;
    display: none;
}

.terms-agree-checkbox:checked ~ .checkmark:after{
     display: block;
}

.checkmark:after{
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #3cb878;
    border-bottom: 4px solid #3cb878;
    transform: rotate(-45deg);
}

.green-text{
    color: #3cb878;
}

.sign-up-details-btn{
    border: none;
    width: 100%;
    padding: 15px 100px;
    background-color: #3cb878;
    border-radius: 3px;
    font-family: Verdana, Arial, sans-serif;
    color: white;
    margin-bottom: 30px;
}

.clearfix{
    content: '';
    display: block;
    clear: both;
}